<h1>Grape Mounted on Rails 4</h1>
<ul>
<li><a href='/api/ping'>Ping</a></li>
<li><a href='/api/protected/ping'>Ping w/ Basic Auth</a> (username: <em>username</em>, password: <em>password</em>)</li>
</ul>
<a href="https://github.com/ruby-grape/grape-on-rails">Fork me on Github</a>
